.profilecontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
}
.dpandname{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
}
.dpcontainer{
    width: 200px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dpandname h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profileform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
    margin-bottom: 20px;
    background-color: "bisque";
    padding: 3% 0 3% 0;
}
.profileform label{
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 5px;
}
.profileform input{
    width: 100%;
    border-radius: 20px;
    padding: 6px;
    border: 1px solid rgb(37, 36, 36);
    background-color: transparent;
    color: rgb(69, 68, 68);
}
.profileform button{
    width: 30%;
    height: 24px;
}
@media screen and (max-width:600px){
    .main-display{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .profilecontainer{
        display: flex;
        flex-direction: col;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
    .dpandname{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .dpcontainer{
        width: 100px;
        padding: 0;
    }
    .dpandname h1{
        font-size: 20px;
        text-align: center;
    }
    .profileform{
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 20px;
        width: 50%;
        margin: 20px;
    }
    .profileform input{
        font-size: 10px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profileform label{
        align-items: left;
        width: 100%;
    }
    .profileform button{
        width: 30%;
        height: 24px;
        font-size: 10px;
    }
}