.coursecardcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    gap: 40px;
}
.coursecard-each{
    width: 300px;
    height: 250px;
    margin-top: 40px;
    align-items: center;
}
@media screen and (max-width:300px) {
    .coursecardcontainer{
        padding-top: 0px;
        padding-bottom: 0px;
        gap: 2%;
    }
    .coursecard-each{
        width: 100%;
        max-height: 300px;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}