.quizcomponent-conatainer{
    border-style: groove;
    max-width: 300px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 10px 0 rgb(216, 215, 215);
    border-radius: 10px;
}
.quizcomponent-conatainer button{
    width: 30%;
    height: 30px;
    margin: 20px;
    background-color: #fa9746;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(216, 215, 215);
    transition: transform 0.3s ease;
}
