.challenges-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    gap: 20px;
}
.challenges-page-playground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-style: groove;
    width: 92%;
    padding: 10px;
    margin-top: 10px;
    border-width: 1px;
}
.challenges-page-playground button{
    height: 30px;
    min-width: 150px;
    background-color: #fa9746;
    border-radius: 15px;
}
.challenges-page-challenges-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: groove;   
    width: 100%;
}
.assigned-challenges-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;   
    width: 100%; 
    min-height: 600px;
}
.public-challenges-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;   
    width: 100%;
    min-height: 600px;
}