/* Login.css */

.login-container {
    max-width: 400px;
    height: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #f1b637;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(218, 218, 239, 0.5);
  }
  
  .login-container h2 {
    color: #333;
    margin: 10px;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin: 5px;
    color: #000000;
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    border: 1px solid #512020;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgba(218, 218, 239, 0.7);
  }

  .a{
    color: #f1b637;
    margin-left: -100%px;
  }
  
  .button1{
    width: 30%;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    background-color: #f0ae20;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #ca7910;
  }

  .p{
    font-size: 8px;
  }
  .signupbutton{
    background-color: rgba(177, 116, 17, 0);
    color: #f1b637;
  }
  .signupbutton:hover{
    background-color: rgba(0, 0, 0, 0.0);
    color: red;
  }
  .forogotpassword{
    background-color: transparent;
    color: black;
    font-size: 12px;
  }
  .forogotpassword:hover{
    background-color: transparent;
    color: red;
  }  
  .forgotpasswordDiv{
    margin-right: -70%;
    align-self:flex-end;
    align-items: flex-end;
    margin-bottom: 5px;
  }