.coursepagecoursecontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 20px;
}
.coursecontainer-each{
    width: 400px;
    height: 300px;
    margin-top: 20px;
}
.coursepagecover{
    width: 100%;
}
.coursepageheading h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);

}
@media screen and (max-width:300px) {
    .coursepagecoursecontainer{
        padding-top: 0px;
        padding-bottom: 0px;
        gap: 0%;
    }
    .coursecontainer-each{
        width: 100%;
        max-height: 300px;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .coursepageheading h1{
        text-align: center;
        font-size: 10px;
    }
}