.coursepagecoursecontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-style: groove;
}
.coursecontainer-each{
    width: 400px;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.coursepageheading{
    border-style: groove;
}
.coursepageheading h1{
    margin-left: 4%;
    font-size: 20px;
}
.coursepagecover{
    width: 100%;
}
