.student-coursecardmaincontainer{
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(202, 200, 200);
    margin: 20px 0px 20px 0px;
    transition: transform 0.5s ease-out;
}
.student-coursecardmaincontainer:hover{
    transform: scale(1.1);
}
.student-coursecardmaincontainer button{
    padding: 0;
    width: 100%;
    height: 100%;
}
.student-coursecardcontainer{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.student-coursecardcover{
    margin: 20px;
    width: 260px;
    height: 130px;
}
.student-coursecardtext{
    width: 100%;
}
.student-coursecardtext h1{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.student-coursecardtext h2{
    font-size: 10px;
    margin: 10px;
    
}
@media screen and (max-width:400px) {
    .student-coursecardmaincontainer{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 black;
        margin-top: 20px;
    }
    .student-coursecardmaincontainer button{
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .student-coursecardcontainer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .student-coursecardcover{
        width: 100%;
        height: 100%;
    }
    .student-coursecardtext{
        width: 100%;
        height: 100%;
    }
    .student-coursecardtext h1{
        height: 100%;
        font-size: 12px;
        height: 60px;
        margin: 10px;
    }
    .student-coursecardtext h2{
        height: 100%;
        font-size: 10px;
        margin: 8px;
    }
}