.coursecomponentcontainer{
    width: unset;
    height: unset;
}
.coursecomponent {
    height: unset;
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coursecomponent h1{
    text-align: center;
    font-size: 18px;
    color: rgb(39, 38, 38);
    font-weight: bold;
    padding: 20px 0 20px 0;
}