  .home-content h1{
    text-align: left;
    font-size: 80px;
    margin-left: 100px;
    font-weight: bolder;
    margin-top: -55px;    
  }
  .home-content h3{
    text-align: left;
    font-size: 25px;
    margin-left: 100px;
    font-weight: bolder; 
    margin-bottom: 55px;    
  }
  .home p{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
  .home-content a{
    text-align: center;
  }
  .text-home {
    font-size: 20px;
    text-align: center;
    color: gray;
  }

  .home-line {
    margin-left: -20px;
    margin-top: 60px;
    width: 100% +20px;
    height: 2px;
    background-color: rgb(211, 205, 205);
  }
  .home-box {
    width: 280px;
    height: 200px;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 1px 4px 0px rgb(183, 183, 183);
    margin-top: 40px;
    margin-left: 10%;
    border-radius: 40px 0px;
  }
  .box-container {
    display: flex;
    margin-left: 40px;
  }
  .box-container span {
    font-size: 50px;
    font-weight: 600;
    color: orange;
    margin-left: 20px;
  }
  .box-container p {
    font-size: 20px;
    width: 200px;
    margin-left: 40px;
  }