.addcourseitemcontainer{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addcourseitem-button{
    width: 90%;
    display: flex;
    justify-content: end;
}
.addcourseitem-button button{
    background-color: red;
    font-weight: 900;
}
.addcourseitem-button button:hover{
    background-color: brown;
}
.addcourseitem{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(127, 161, 255);
    box-shadow: 0px 0px 20px 0px black;
}
.addcourseitem-select{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.addcourseitem-select h1{
    font-size: 28px;
}
.addcourseitem-select select{
    text-align: center;
    height: 20px;
    border-radius: 5px;
}