.addcourseitemcontainer{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addcourseitem-button{
    width: 90%;
    display: flex;
    justify-content: end;
}
.addcourseitem-button button{
    background-color: rgb(200, 199, 199);
    font-weight: 400;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 50px;
}
.addcourseitem-button button:hover{
    background-color: rgb(216, 17, 17);
}
.addcourseitem{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 199, 199);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
.addcourseitem-select{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.addcourseitem-select h2{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.addcourseitem-select select{
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(200, 199, 199);
    margin: 10px;
    background-color: rgb(255, 255, 255);
}