.questioncard-conatiner{
    width: 100%;
    min-height: 400px;
    height: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questioncard-question{
    width: 100%;
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e1e1e1;
}
.questioncard-question p{
    width: 100%;
    flex: 1;
    height: 100%;
    font-size: 15px;
    font-weight: 800;
}
.questioncard-question img{
    width: 80%;
    border-style: groove;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.questioncard-answers{
    width: 90%; 
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.questioncard-answers-set{
    width: 100%;
}
.questioncard-answers-set p{
    font-size: 15px;
    font-weight: 700;
}
.questioncard-answers-each{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.questioncard-submission-set{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
    width: 100%;
    gap: 10px;
}
.questioncard-submission-set button{
    background-color: transparent;
    border-style: none; 
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.questioncard-submission{
    background-color: #fa9746;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
.questioncard-submission:hover{
    font-size: 12px;
    width: 120px;
    height: 32px;
    border-radius: 15px;
}