.navbarcontainer {
    z-index: 10;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px #e1e1e1;
    font-weight: 500;
    background-color: #fff;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbarcontainer a {
    text-decoration: none;
    color: inherit;
}

.navbarleftcontainer,
.navbarrightcontainer {
    display: flex;
    align-items: center;
}

.navbarleftcontainer ul,
.navbarrightcontainer ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.navbarleftcontainer ul li,
.navbarrightcontainer ul li {
    display: flex;
}
.navbarcontainer ul li :hover{
    color: #fa9746;
    padding: 5px 0px;
    border-bottom: 2px solid #fa9746;
    transition: ease-in-out;
    
}
.navbarhometext {
    margin-left: 20px;
    font-weight: 700;
}

.navbarsignup a,
.navbarsignin a {
    background-color: transparent;
    border-style: none;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.navbarsignup a:hover,
.navbarsignin a:hover {
    background-color: rgb(201, 94, 12);
    border-bottom: none;
    transition: none;
}

.navbarsignin a {
    background-color: #fa9746;
}

.navbarsignup a {
    background-color: #918d8d;
}


@media screen and (max-width: 800px) {
    .navbarleftcontainer ul,
    .navbarrightcontainer ul {
        gap: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .navbarleftcontainer ul,
    .navbarrightcontainer ul {
        gap: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 380px) {
    .navbarcontainer {
        flex-direction: column;
    }
    .navbarleftcontainer ul,
    .navbarrightcontainer ul {
        gap: 5%;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 200px) {
    .navbarcontainer {
        min-height: 40px;
    }
    .navbarleftcontainer ul,
    .navbarrightcontainer ul {
        gap: 2%;
        flex-direction: column;
        align-items: center;
    }
}

.active-tab {
    color: #fa9746;
    padding: 5px 10px;
    border-bottom: 2px solid #fa9746;
}
.active-tab:hover {
    color: #fa9746;
    padding: 0px 10px;
    border-bottom: 0px solid #fa9746;
}