.attemptingquiz-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-pack{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 black;
    margin: 20px;
}
.attemptingquiz-nav{
    margin: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.attemptingquiz-question{
    width: 100%;
    max-width: 600px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-question p{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-bottom{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attemptingquiz-bottom button{
    width: 120px;
    height: 30px;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-bottom ion-icon{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-style: none;
}
.attemptingquiz-bottom ion-icon:hover{
    width: 36px;
    height: 36px;
}
.attemptingquiz-submission{
    background-color: #fa9746;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
.attemptingquiz-submission:hover{
    font-size: 12px;
    width: 120px;
    height: 32px;
    border-radius: 15px;
}