.attemptingquiz-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-pack{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 black;
    margin: 20px;
}
.attemptingquiz-nav{
    margin: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.attemptingquiz-question{
    width: 100%;
    max-width: 600px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-question p{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attemptingquiz-bottom{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attemptingquiz-bottom button{
    width: 100px;
    height: 30px;
    background-color: #fa9746;
    border-style: none;
    border-radius: 15px;
}
.attemptingquiz-bottom button:hover{
    background-color: #fa9746;
    border-style: groove;
}