.footerlowercontainer{
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.social a ion-icon{
    width: 30px;
    height: 30px;
}
.social a ion-icon:hover{
    fill: rgb(218, 141, 46);
}
.contact a ion-icon{
    width: 20px;
    height: 20px;
}
.contact a ion-icon:hover{
    fill: rgb(218, 141, 46);
}

@media screen and (max-width:600px){
    .footerlowercontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 8px;
    }
    .footerlowercontainer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 8px;
    }
    .social a ion-icon{
        width: 20px;
        height: 20px;
    }
    .social a ion-icon:hover{
        fill: rgb(218, 141, 46);
    }
    .contact a ion-icon{
        width: 20px;
        height: 20px;
    }
}