.coursemanagebarconatiner{
    width: 160px;
}
.coursemanagebar-item{
    display: flex;
    flex-direction: column;
}
.coursemanagebar-item button{
    width: 100%;
    height: 60px;
    background-color: #fa9746;
    border-width: 0;
}
.coursemanagebar-item button:hover{
    background-color: #000000;
    color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.coursemanagebar-item button:active{
    background-color: #ca0000;
    color: white;
    transition-duration: 0s;
}
.coursemanagebar-students{
    border-style: groove;
}
.coursemanagebar-students h1{
    font-size: 16px;
    border-style: groove;
}
.coursemanagebar-students h2{
    font-size: 16px;
    border-style: groove;
}
.coursemanagebar-students-each{
    border-style: groove;
}