/* Registration.css */

.registration-title {
  text-align: center;
  color: #333;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 5px;
}

.radio-group {
  margin-left: 25%;
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
}

.radio-group label {
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 5px; /* Adjust the margin as needed */
}

.reg-container {
  max-width: 480px;
  height: 840px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #f1b637;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(218, 218, 239, 0.5);
}

.reg-container h2 {
  color: #333;
}