.student-smallcoursecardmaincontainer{
    padding: 0px;
    margin: 0px;
}
.student-smallcoursecardcontainer{
    display: flex;
    align-items: center;
    height: 250px;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgb(202, 200, 200);
    transition: transform 0.5s ease-out;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}
.student-smallcoursecardcontainer:hover{
    transform: scale(1.1);
}
.student-smallcoursecardcontainer:active{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.student-smallcoursecardpack{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.student-smallcoursecardcover{
    width: 260px;
    height: 130px;
    margin: 10px;
}
.student-smallcoursecardtext{
    width: 100%;
}
.student-smallcoursecardtext h1{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.student-smallcoursecardtext h2{
    font-size: 10px;
    color: #858585;
}
.student-smallcoursecardcontainer button{
    height: 100%;
    width: 100%;
}
.enroll-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(193, 193, 193);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 20;
}
.enroll-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.enroll-section label{
    font-weight: 700;
    margin: 10px;
}
.enroll-section input{
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(227, 231, 229);
    margin: 20px 0px 20px 0px;
    border: 1px solid rgb(179, 184, 181);
}
.enroll-section button{
    height: 30px;
    width: 80px;
    background-color: rgb(232, 144, 29);
    border-radius: 20px;
    border: none;
    color: white;
}
