.coursecardcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.coursecard-coursecomponent{
    width: 100%;
}
.coursecardpack{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.coursecardpack-top h1{
    text-align: center;
    font-size: 200%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 20px 0 20px 0;
}
.coursecardpack h2{
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0px 40px 20px 40px;
}
.coursecardpack-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(175, 174, 174);
    padding: 20px 0 20px 0;
}
.coursecard-coursecomponent{
    background-color: #ffffff;
}
.coursecard-coursecomponent-each{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-style: groove;
    border-width: 0 0 1px 0;
    border-color: rgb(189, 189, 189);
    padding: 20px 0 20px 0;
}
@media screen and (max-width:300px){
    .coursecardpack-top{
        font-size: 12px;
    }
}