.coursecardcontainer{
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coursecard-coursecomponent{
    border-style: groove;
}
.coursecardpack{
    border-style: groove;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 20px;
}
.coursecardpack h1{
    text-align: center;
}
.coursecardpack h2{
    text-align: center;
    font-size: 100%;
    color: rgb(225, 0, 255);
}