/* Learn.css */

.courses-container {
  padding: 20px;
}
/* make grid 4 columns*/
.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.en-course-box {
  background-color: #e7ba5f;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  height: 140px;
}
.en-course-box:hover {
  background-color: #eedca3;
}
.course-box {
  background-color: #80a1d6;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-box:hover {
  background-color: #eea3a3;
}

.course-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin: 10px;
}

.course-box p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Additional styling as needed */
